<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="com.xiaoqiao.prmgserver.mybatismapper.ParkMapper">
    <!-- 查询停车场的信息-->
    <select id="findParkList" resultType="com.xiaoqiao.prmgserver.bean.ParkName">
        SELECT  Pname FROM  pinfor
    </select>
    <!-- 根据停车场名称查找停车场详细信息 -->
    <select id="findParkDetailByPname" parameterType="java.lang.String" resultType="com.xiaoqiao.prmgserver.bean.ParkDetail">
        SELECT * FROM  pinfor WHERE  Pname LIKE '${value}'
    </select>
    <!--  登陆-->
    <select id="findUserByUnameAndPas" parameterType="com.xiaoqiao.prmgserver.bean.User" resultType="com.xiaoqiao.prmgserver.bean.User">
        SELECT  * FROM  perinfor WHERE  Pnum  LIKE  '${User.Pname} ' AND Pasw LIKE  '${User.Pasw}'
    </select>
    <!--注册-->

    <insert id="addUser" parameterType="com.xiaoqiao.prmgserver.bean.User">
        <!--
                将插入数据的主键返回，返回到user对象中

                SELECT LAST_INSERT_ID()：得到刚insert进去记录的主键值，只适用与自增主键

                keyProperty：将查询到主键值设置到parameterType指定的对象的哪个属性
                order：SELECT LAST_INSERT_ID()执行顺序，相对于insert语句来说它的执行顺序
                resultType：指定SELECT LAST_INSERT_ID()的结果类型
                 -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT  INTO  perinfor (Pnum, Pasw,Pname,Cnum) value (#{Pnum},#{Pasw},#{Pname},#{Cnum})
    </insert>

    <!--根据用户名查找停车记录-->
    <select id="findRecordByUsername" parameterType="java.lang.String" resultType="com.xiaoqiao.prmgserver.bean.Record">
        SELECT  * FROM fee WHERE  Unum LIKE  '${value}' ORDER  BY  fid DESC
    </select>
</mapper>


