<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="com.xiaoqiao.prmgserver.mybatismapper.ParkMapper">
    <!-- 查询停车场的信息-->
    <select id="findParkList" resultType="com.xiaoqiao.prmgserver.bean.ParkName">
        SELECT  Pname FROM  pinfor
    </select>
    <!-- 根据停车场名称查找停车场详细信息 -->
    <select id="findParkDetailByPname" parameterType="java.lang.String" resultType="com.xiaoqiao.prmgserver.bean.ParkDetail">
        SELECT * FROM  pinfor WHERE  Pname LIKE '${value}'
    </select>
</mapper>


